<div class="alert" role="alert"><p id="notice"><%= notice %></p></div>
<p class="lead"><%= link_to 'New post', new_post_path, class: 'btn btn-primary' %></p>
<h1>News about last updates</h1>
<% @posts.each do |post| %>
    <div class="container">
      <div class="panel panel-info">
        <div class="container">
          <h3>
            <%= link_to post.title %>
          </h3>
          <% if current_user %>
              <p><%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning btn-xs"%>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
</div>